@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.navbar {
    margin-top: 15px;
    border-radius: 0;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.707);
    align-items: center;
    box-shadow: 0 0 10px black;
    z-index: 99;
    padding-right: 10px;
}

.logoImg {
    top: -15px;
    height: 110px;
    position: absolute;
    left: 20px;
    pointer-events: none;
}

.menuList {
    display: flex;
}

.menuItem {
    margin: 20px;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    transition: .7s ease;
    text-shadow: 0 0 10px black;
}


.menuItem:hover {
    color: white;
    background-color: gray;
    box-shadow: 0 0 10px black;
    border-radius: 3px;
}

.registerButton{
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-shadow: 0 0 10px black;
    padding: 10px 20px;
    cursor: pointer;    
    border: none;
    background-color: #4e8ab549;
    transition: .5s ease;
}

.registerButton:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.204);
    
    box-shadow: 0 0 10px black;
}


.loginButton{
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-shadow: 0 0 10px black;
    padding: 10px 20px;
    cursor: pointer;    
    border: none;
    background-color: rgba(0, 139, 139, 0.24);
    transition: .5s ease;
}

.loginButton:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.204);
    
    box-shadow: 0 0 10px black;
}


.logout{
    color: white;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-shadow: 0 0 10px black;
    padding: 10px 20px;
    cursor: pointer;    
    border: none;
    background-color: #dc280049;
    transition: .5s ease;
}

.logout:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.204);
    
    box-shadow: 0 0 10px black;
}